/* IMPORTACIÓN DE FUENTES (Google Fonts)*/
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Momo+Signature&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playwrite+IE:wght@100..400&display=swap');

/* RESET BÁSICO (Primeros estilos) */
* {
margin: 0;
padding: 0;
box-sizing: border-box;
}
/* ESTILOS GENERALES (Selector de etiqueta)*/
body {
font-family: 'Dancing Script', cursive;
background-image: url(../img/street.jpg);
background-size: contain;
color: #522727;
line-height: 1.6;
}

